.Login-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.Login-section form {
  max-width: 100%;     
  margin: 0 auto;     
}
html, body {
  height: 100%;
}

.page{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-content{
  flex: 1;
}
