.notfound-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.notfound-title {
  font-size: 6rem;
  font-weight: bold;
  color: #0aad0a;
}
