.app-footer {
    background-color: #f5f7f8;
    font-size: 0.95rem;
}

.footer-title {
    font-size: 1.6rem;
    font-weight: 600;
}

.footer-text {
    color: #6c757d;
    margin-bottom: 0;
}

.footer-share-btn {
    background-color: #0AAD0A;
    color: #fff;
    border-radius: .5rem;
    border: none;
}

.store-badge {
    height: 50px;
    object-fit: contain;
}

.store-badge:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}