/* #root {
   max-width: 1280px; 
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
  width: 100%;
}
body{
  margin: 0;
}


html, body {
  height: 100%;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}